graph {
	fill-color: #F0E68C;
}

node {
	size: 20px, 20px;
	shape: circle;
	fill-color: #4682B4;
	stroke-mode: plain;
	stroke-color: black;
        text-alignment: above;
        text-size: 15;
        text-style: bold-italic;
}

node:clicked {
	fill-color: red;
}

edge {
        shape: polyline;
        fill-color: #008080;
        arrow-size: 10px, 5px;
}

sprite {
	shape: flow;
	fill-mode: plain;
    fill-color: red;
	sprite-orientation: from;
}