graph {
	fill-color: #F0E68C;
}

node {
	size: 4px, 4px;
	shape: circle;
	fill-color: #4682B4;
	stroke-mode: plain;
	stroke-color: black;
        text-alignment: above;
        text-size: 4;
        text-style: bold-italic;
}

node:clicked {
	fill-color: red;
}

edge {
        shape: polyline;
        fill-color: #008080;
        arrow-size: 4px, 2px;
}